.card {
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
  width: 350px;
  text-align: center;
  margin-bottom: 10px;

  &__header {
    height: 140px;
    background-image: url('../../images/bg-pattern-card.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__main {
    background-color: $white;
    padding: 85px 45px 23px;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
  }

  &__img-container {
    border: 5px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../images/image-victor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(70%);
  }

  &__name-age {
    font-size: 20px;
    color: $veryDarkBlue;
  }

  &__age {
    font-size: 20px;
    color: $darkGray;
    margin-left: 5px;
  }

  &__location {
    display: block;
    font-size: 16px;
    font-weight: $fw-bold;
    color: $darkGray;
    margin-top: 10px;
  }

  &__footer {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
  }

  &__count {
    font-size: 20px;
    color: $veryDarkBlue;
  }

  &__label {
    font-size: 12px;
    font-weight: $fw-bold;
    color: $darkGray;
    letter-spacing: 1.3px;
  }
}
