// @media (max-width: 620px)
.card {
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
  width: 350px;
  text-align: center;
  margin-bottom: 10px;

  @media (max-width: 620px) {
    width: 450px;
    margin-bottom: 14px;
  }

  &__header {
    height: 140px;
    background-image: url('./../../images/bg-pattern-card.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 620px) {
      height: 190px;
    }
  }

  &__main {
    background-color: $white;
    padding: 85px 45px 23px;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);

    @media (max-width: 620px) {
      padding: 95px 45px 30px;
    }
  }

  &__img-container {
    border: 5px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('./../../images/image-victor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(70%);

    @media (max-width: 620px) {
      width: 135px;
      height: 135px;
      transform: translateY(90%);
    }
  }

  &__name-age {
    font-size: 18px;
    color: $veryDarkBlue;

    @media (max-width: 620px) {
      font-size: 24px;
    }
  }

  &__age {
    font-size: 18px;
    color: $darkGray;
    margin-left: 5px;

    @media (max-width: 620px) {
      font-size: 24px;
      font-weight: $fw-regular;
    }
  }

  &__location {
    display: block;
    font-size: 14px;
    font-weight: $fw-bold;
    color: $darkGray;
    margin-top: 10px;

    @media (max-width: 620px) {
      font-size: 20px;
      font-weight: $fw-regular;
    }
  }

  &__footer {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;

    @media (max-width: 620px) {
      padding: 35px 45px;
    }
  }

  &__count {
    font-size: 18px;
    line-height: 0.8;
    color: $veryDarkBlue;

    @media (max-width: 620px) {
      font-size: 28px;
      line-height: 1.4;
    }
  }

  &__label {
    font-size: 10px;
    font-weight: $fw-bold;
    color: $darkGray;
    letter-spacing: 1.3px;

    @media (max-width: 620px) {
      font-size: 16px;
      font-weight: $fw-regular;
    }
  }
}
