// Colors - Primary
$darkCyan: hsl(185, 75%, 39%);
$grayishBlue: hsl(227, 10%, 46%);
$veryDarkBlue: hsl(229, 23%, 23%);

// Colors - Neutral
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 59%);

// Typography
$fs-regular: 18px;
$ff-kumbh: 'Kumbh Sans', sans-serif;
$fw-regular: 400;
$fw-bold: 700;
